
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">

    <div class="container text-center">
        <h3>BILSOFT ONLINE ÖN MUHASEBE PROGRAMI</h3>
        <span class="border-line"></span>
    </div>
</div>
<!--page title-->

<div class="secpage">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="secpagetext">

                    <h2 style="font-size: 28px; text-align: left; padding: 10px;">
                        Müşterilerinize hızlı satış yapmanızı sağlayan
                        cari takip
                        programı işyerinize hız ve performans
                        kazandırır
                    </h2>

                    <p style="font-size: 16px; color: white; text-align: justify; padding: 10px;">
                        Barkod desteği ile firmanızda en hızlı şekilde işlemlerin yapılmasını sağlar. Cari Takip
                        Programı ile
                        kasa defterinden kurtulacak, müşterilerinize ait alacak verecek durumunu anında
                        görüntüleyebileceksiniz.
                        Program ile Hızlı satış yapabilir, ürünlerinizin ve müşterinizin ayrıntılı bilgilerini
                        saklayabilir,
                        ürünlerinizin stoklarını tutabilir ve bu bilgileri anında görüntüleyebilirsiniz. Online Ön
                        Muhasebe
                        Programında tüm işlemler en basit hale indirgendiğinden 7' den 70' e herkes zorlanmadan çok
                        rahat
                        kullanabilir.
                        Online Ön Muhasebe programını küçük ve orta ölçekli, satış işlemi yapan tüm işletmelerde
                        rahatlıkla kullanılabilir. Online Muhasebe Programı kullanıcıları E-Fatura modülü için
                        ek ücret ödemeleri gerekmez. Programda dilediğiniz kadar şube açarak bu şubeler
                        ile ilgili detay raporları alabilirsiniz. Her şubeye ayrı ayrı kullanıcı ve
                        yetki tanımlaması yapabilirsiniz.
                    </p>
                </div>

                <div class="secpagetext">


                    <p style="color: white; text-align: left; padding: 10px;">
                        <ul style="list-style-type: none;">
                            <img src="images/work-4.jpg" alt="" class="iconpage">
                            <li>
                                <i style="color: rgb(0, 255, 0);" class="fas fa-check"></i> Kullanmakta olduğunuz veritabını
                                excel dokümanı halinde dışarı aktarabilir, aynı zamanda elinizdeki uygun formatlı excel
                                dosyalarını programınızın veritabanına dahil edebilirsiniz.
                            </li>
                            <br>

                            <li>
                                <i style="color: rgb(0, 255, 0);" class="fas fa-check"></i> Belirli bir sayının altına düşen
                                stoklarınıza
                                risk limiti belirleyerek elinizdeki stoklarınızın takibini daha sağlıklı bir şekilde
                                gerçekleştirebileceksiniz.
                            </li>
                            <br>

                            <li>
                                <i style="color: rgb(0, 255, 0);" class="fas fa-check"></i> Bu program ile Bilsoft Cari Takip
                                programındaki ürünlerin bilgilerini güncelleyebilir, sayım miktarınızı girebilir ve
                                programda kayıtlı olmayan ürünleride kolayca ekleyip sayım miktarını girebilirsiniz.
                            </li>
                            <br>

                            <li>
                                <i style="color: rgb(0, 255, 0);" class="fas fa-check"></i> Düzenli yedeklemeyi ayarlayarak
                                programın sizin
                                belirlediğiniz aralıklarda sizin belirlediğiniz adrese yedek almasini sağlayabilirsiniz.
                                Ayrıca
                                yedeklemeyi istediğiniz zaman başlatıp istediğiniz zaman durdurabilirsiniz.
                            </li>
                            <br>

                            <li>
                                <i style="color: rgb(0, 255, 0);" class="fas fa-check"></i> Bilsoft N11 entegratörü aracılığı ile
                                N11 üzerinden gelen siparişlerinizi ön muhasebe programınıza aktarma, faturalandırılma
                                ve güncellenme işlemlerini otomatik olarak gerçekleştirebilir, işlerinizi pratik bir
                                şekilde halledebilirsiniz.
                            </li>
                            <br>

                            <li>
                                <i style="color: rgb(0, 255, 0);" class="fas fa-check"></i> Stok için; sınısız depo tanımlama,
                                toplu stok raporu ve stok hareketleri raporunu alabilme, depo hareketleri raporunu
                                alabilme, Cari için; sınırsız cari hesap kartı tanımlama, cariye stoklu-stoksuz satış,
                                cariyi borçlandırma ve alacaklandırma işlemleri vb. işlemlerini içerir.
                            </li>
                            <br>

                            <li>
                                <i style="color: rgb(0, 255, 0);" class="fas fa-check"></i> Kasadan bankaya virman yapabilme, iki
                                tarih arası detaylı raporlama, banka hareket girişi yapabilme, bankdan bankaya veya
                                bankadan kasaya virman yapabilme ve dahasını kapsayan bir modüldür.
                            </li>
                            <br>


                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

